a {
    text-decoration: none;
}
.header h1 a {
    text-decoration: none;
}
.header h1 a:hover {
    text-decoration: none;
}
.header h1 a span{
    padding-left: 20px;
    color: #6fc2e9;
    
}
.auth {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(31, 97, 126, 0.6), rgba(29, 100, 131, 0.6)), url("../assets/img/hero-bg.jpg") top center;
    background-size: cover;
    position: relative;
    margin-bottom: -90px;
}
.text-Patt {
    font-family: 'Pattaya', sans-serif !important;
    font-size: 20px;
}
.text-Exo {
    font-family: 'Exo', sans-serif;
}
.text_Noto{
    font-family: 'Noto Serif JP', serif;
}
.text-IBM{
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Pattaya', sans-serif ;
    background-color:  #2ab7ca;
    color: white;
    font-size: 34px; 
    font-weight: 500; 
    letter-spacing: 1px;
    padding:10px; 
    margin:0; 
    border-radius: 4px;
    box-shadow: 0 2px 5px rgb(0 0 0 /20%);
   

}
.icon-view {
    color: #2ab7ca;
    padding: 5px;
}
.icon-edit {
    color: #fed766;
    padding: 5px;
}
.icon-delete {
    color: #fe4a49;
    padding: 5px;
}